.tableContainer {
  background-color: #272b34;
  padding: 100px 100px 50px 100px;
  text-align: center;
}

table {
  border: 1px solid black;
  margin: 0px auto 0 auto;
  overflow: hidden;
}

th {
  background-color: #28a745;
}

th,
td {
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: #085461;
  color: white;
}

td .alphaCode-active {
  text-decoration: none;
  color: white;
}

td:nth-child(1):hover {
  background-color: #0069d9;
}

.table-tr:hover {
  background-color: #0069d9;
}
